<div style='font-family: Tahoma, Geneva, sans-serif; color: black; font-size: 90%'>
  <% if @visitor == '' %>
    <div>
      Please enter a name!
      <div style='display: inline-block'>
        <form action="/greetings">
          <input type="text" name="name">
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  <% else %>
    <div>
      Greetings <%= @visitor %>!
        <div style='display: inline-block'>
          <form action="/game_board">
          <input type="submit" value="Start Game">
        </div>
      </form>
    </div>
  <% end %>
</div>
