<table style="width:375px; margin-left: 30px; font-family: Tahoma, Geneva, sans-serif">
  <tr>
    <% (1..10).to_a.each do |x| %>
      <td> <%= x %> </td>
    <% end %>
  </tr>
</table>
<div style='display: inline-block; height: 370px; font-family: Tahoma, Geneva, sans-serif'>
  <% ('a'..'j').to_a.each do |x| %>
    <div style="height: 36px; margin-bottom: 1px"><%= x %></div>
  <% end %>
</div>
<div style='display: inline-block; border: 2px solid white; height:370px; width:385px; font-family: Tahoma, Geneva, sans-serif'>
  <% $board.grid.each do |key, value| %>
    <% if value.content.is_a? Water %>
      <% if value.hit == true %>
        <div style='display: inline-block; border: 1px solid white; height:30px; width:30px; background-color:white; border-radius: 15px'>
          <% key %>
        </div>
      <% else %>
        <div style='display: inline-block; border: 1px solid white; height:30px; width:30px; background-color:#c6e2ff; border-radius: 15px'>
          <% key %>
        </div>
      <% end %>
    <% else %>
      <% if value.hit == true %>
        <div style='display: inline-block; border: 1px solid white; height:30px; width:30px; background-color:red; border-radius: 15px'>
          <% key %>
        </div>
      <% else %>
        <div style='display: inline-block; border: 1px solid white; height:30px; width:30px; background-color:#ffff32; border-radius: 15px'>
          <% key %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>



def print_board
  printed_board = "<div style='width: 330px; float:left'>"
  [*"A".."J"].each do |l|
    [*1..10].each do |n|
      if @grid["#{l}#{n}".to_sym].content.is_a? Water
        if @grid["#{l}#{n}".to_sym].hit == true
          if l == "A"
            printed_board += "<div style='display: inline-block; border: 1px solid white; height:30px; width:30px; background-color:#bfc4bf; border-radius: 15px; color: white; font-family: Tahoma; text-align: center; font-size: 80%; line-height:2'> #{n} </div>"
          else
            printed_board += "<div style='display: inline-block; border: 1px solid white; height:30px; width:30px; background-color:#bfc4bf; border-radius: 15px'> </div>"
          end
        else
          if l == "A"
            printed_board += "<div style='display: inline-block; border: 1px solid white; height:30px; width:30px; background-color:#c6e2ff; border-radius: 15px; color: white; font-family: Tahoma; text-align: center; font-size: 80%; line-height:2'> #{n} </div>"
          else
            printed_board += "<div style='display: inline-block; border: 1px solid white; height:30px; width:30px; background-color:#c6e2ff; border-radius: 15px'> </div>"
          end
        end
      else
        if @grid["#{l}#{n}".to_sym].hit == true
          if l == "A"
            printed_board += "<div style='display: inline-block; border: 1px solid white; height:30px; width:30px; background-color:#e62e00; border-radius: 15px; color: white; font-family: Tahoma; text-align: center; font-size: 80%; line-height:2'> #{n} </div>"
          else
            printed_board += "<div style='display: inline-block; border: 1px solid white; height:30px; width:30px; background-color:#e62e00; border-radius: 15px'> </div>"
          end
        else
          if l == "A"
            printed_board += "<div style='display: inline-block; border: 1px solid white; height:30px; width:30px; background-color:#33cc33; border-radius: 15px; color: white; font-family: Tahoma; text-align: center; font-size: 80%; line-height:2'> #{n} </div>"
          else
            printed_board += "<div style='display: inline-block; border: 1px solid white; height:30px; width:30px; background-color:#33cc33; border-radius: 15px'> </div>"
          end
        end
      end
    end
  end
  printed_board += "</div>"
  printed_board
en
