<div>
  <form action="/greetings">
    <div style='font-family: Tahoma, Geneva, sans-serif; color: black; font-size: 90%'>
      what's your name?
    </div>
    <div style='display: inline-block'>
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
