<%= @printed_my_board %>
<div style='float:left; width:30px; height: 20px'> </div>
<%= @printed_opp_board %>
<div style='padding-top: 20px; display: inline-block; 20px; font-size: 90%; font-family: Tahoma, Geneva, sans-serif'> 
  <%= @message %>
</div>
